@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url('fonts/roboto.woff2') format('woff2');
}

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 64px !important;
}

a, a:hover {
	text-decoration: none;
}

h4 {
	border: 1px solid #000;
	border-width: 2px 0;
	padding: 2px 0;
	margin: 15px 0 2px 0;
}

#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#main.pinned.open {
    transition: margin 600ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    margin-left: 256px;
}

#main.pinned.close {
    transition: margin 300ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    margin-left: 0;
}

#content {
    position: absolute;
    top: 64px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}

.paginate {
    margin-bottom: 46px;
}

.floatButton {
	position: fixed;
	z-index: 2;
	bottom: 20px;
	right: 20px;
}

.fullLoader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.6);
	z-index: 1;
}

.row-nomargin {
	margin: 0;
}

[class^="col-xs-"],
[class^="col-sm-"],
[class^="col-md-"],
[class^="col-lg-"] {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
