table {
	font-family: Roboto, sans-serif;
	margin: 20px auto;
}

table, th, tr, td {
	border: 1px solid #DDDDDD;
	border-collapse: collapse;
	padding: 8px;
}

th, tr, td {
	padding-top: 11px;
	padding-bottom: 11px;
	text-align: center;
}

th {
	color: white;
	background-color: #25A144;
}

.product-container tr:nth-child(even) {
	background-color: #f2f2f2;
}