.login-box {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: #26a546 url(https://www.aupasdecourses.com/skin/frontend/boilerplate/default/images/header_notation/6.jpg) no-repeat right top;
}

.login-title {
	border-bottom: 5px solid #606060;
}

#logo{
	vertical-align: middle;
	margin:auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}