.pagination {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 6px;
	background-color: rgb(238, 238, 238);
	z-index: 1;
}

.pagination .pager {
	min-width: 60px;
}

.pagination .current {
	display: inline-block;
	font-size: 16px;
	margin: 0px 7px;
}

.pagination svg {
	position: relative;
	top: 6px;
}